header {
    background: mediumpurple;
}

header .logo {
    font-size: 40px;
    font-style: italic;
}

header .nav-item {
    color: white;
}
header .active {
    color: #bacbe6;
}

.page {
    background: plum;
}

.about-us .img,
.service-items .img,
.contacts .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 400px;
    overflow-y: hidden;
}

.service-items .img {
    height: 300px;
}

.service-items .card {
    height: 100%;
    background: #eccccf;
}

.contacts ul,
.contacts p {
    max-width: 400px;
}

footer {
    background: mediumpurple;
}
